.center {
    text-align: center;
}

html {
    width: 100%;
    overflow: hidden;
}
body {
   
    background-color:  #ace1f3 ;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}


   input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    -webkit-appearance: none; 
    appearance: none;
    background-color: grey;
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle; 
    position: relative;
}
input[type="checkbox"]::before {
    content: ''; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: transparent;  }


#mo {
    background-color: #af0000;
   
}
#re {
    background-color: #0e35a0; 
 
}
#dik {
    background-color: #08bd08; 
   
}


input[type="checkbox"]:checked::before {
    content: '✓'; 
    color: white; 
    font-size: 16px;
    font-weight: bold;

}
#info {
    display: none;
    padding: 10px;
    margin-top: 10px;
    z-index: 1;
background: rgba(255, 255, 255, 0.40);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(6px);
}
#einstellungen {
    display: none;
    padding: 10px;
    margin-top: 10px;
    z-index: 1;
background: rgba(255, 255, 255, 0.40);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(6px);
}
#nav-infos input {
border-radius: 10px;
background-color: cadetblue;
text-decoration: none;
color:white;
border-color: transparent;
font-size: 15px;
}
#nav-infos h4 {

 transform: translate(-35px,0);
font-family: Georgia, 'Times New Roman', Times, serif;
}
#einstellungentext {
color: #0e35a0;
    text-decoration-style: solid;
    text-decoration: underline;
font-size: 14px;
}
.button-19 {
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 3px 8px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: max-content;
  }
  
  .button-19:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  
  .button-19,
  .button-19:focus {
    user-select: auto;
  }
  
  .button-19:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
  }
  
  .button-19:disabled {
    cursor: auto;
  }
  
  .button-19:active {
    border-width: 4px 0 0;
    background: none;
  }


/* PC */
@media screen and (min-width: 1640px) { 
body {
    background-size: 100%;
    background-image: url(/src/img/weltkarte.jpg);
}
#nav-karte {
    width: 280px;
    float: right;
    margin-right: 10px; 
}

} 





/* IPad */
@media screen and (max-width: 1640px) { 
    body {
        background-size: 100%;
        background-image: url(/src/img/weltkarte_ipad.jpg);
    }
    #nav-karte {
        position: absolute;
        width: 280px;
        float: left;
        left: 20px; 
        top: 480px;
    
        }
        #nav-formen {
            position: absolute;
            left: 40px;
            top: 55px;
            font-size: 18px;
        }

    #nav-infos {
position: absolute;
top: 580px;
left: 550px;
font-size: 20px;
    }
    #info {
        width: 600px;
        height: 300px;
        position: absolute;
        left: 22%;
        top: 20%;
    }
#info img {
    height: 35px;
    float: right;
}
#copyright { 
    top: 295px;
    position: absolute;
    left: 540px;
    font-size: 10px;
}
 #einstellungen {
    width: 600px;
        height: 300px;
        position: absolute;
        left: 22%;
        top: 20%;
 }
 #einstellungen img {
    height: 35px;
    float: right;
 }
 #einstellungen h1 {
margin-left: 45px
 }
 #einstellungen label {
    font-size: 18px;
 }
 #einstellungenradio {
    margin-top: 40px;
margin-left: 200px;
 }
 #einstellungsbtn {
margin-left: 211px;
margin-top: 19px;
 }


} 