.center {
    text-align: center;
}

html {
    cursor:default;
    width: 100%;
    overflow: hidden;
}
body {

    background-color:  #ace1f3 ;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.display {
    z-index: 5;
    display: none;
    padding: 10px;
    margin-top: 10px;
background: rgba(255, 255, 255, 0.40);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(6px);
}

#nav-infos input {
border-radius: 10px;
background-color: cadetblue;
text-decoration: none;
color:white;
border-color: transparent;
font-size: 15px;
}
#nav-infos h4 {

 transform: translate(-35px,0);
font-family: Georgia, 'Times New Roman', Times, serif;
}
#einstellungentext {
color: #0e35a0;
    text-decoration-style: solid;
    text-decoration: underline;
font-size: 14px;
}
.button-19 {
    appearance: button;
    background-color: #666666;
    border: solid transparent;
    border-radius: 10px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 3px 8px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: max-content;
  }
  

  
  .button-19,
  .button-19:focus {
    user-select: auto;
  }
  
  .button-19:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
  }
  
  .button-19:disabled {
    cursor: auto;
  }
  
  .button-19:active {
    border-width: 4px 0 0;
    background: none;
  }


.infostyle {
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 5px 7px;
    color: black;
    font-weight:500;
    outline: 0;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-align: center; 
    appearance: none; 
    overflow: hidden; 
  }
.infostyle:focus {
    background-color: cadetblue;
    transition-duration: 760ms;
}

 #main-nav {
    z-index: -1;
    background: linear-gradient(180deg, rgba(40,51,119,1) 0%, rgba(53,67,153,1) 50%, rgba(40,51,119,1) 93%);;
    border-radius: 10px;
}
 .nav-btn {
         
         color: #ffffff;
         background: linear-gradient(to right top, #76c7ed, #609cb8);
         border-color: transparent;
         font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
         transition: all 0.1s ease-in-out;
 } 
 #barrier {
    z-index: 4;
    background-color: rgba(136, 136, 136, 0.623);
    height: 100vw;
position: absolute;
top: 0;
left: 0;
    width: 100%;
    backdrop-filter: blur(1px);
    display: none;

 }

/* PC */
@media screen and (min-width: 1640px) { 
body {
    background-size: 100%;
    background-image: url(/src/img/weltkarte.jpg);
}
#main-nav{
    position: absolute;
    top: 60%;
    left: 90px;
    height: 320px;
    width: 260px;
}
#main-nav table {
    position: relative;
    left: -10px;
 }
 .nav-btn {
    border-radius: 10px;
    font-size: 15px;
 }
.nav-img {
     height: 37px;
     margin-right: 10px;
     border-radius: 10px;
 }
#nav-karte {
    width: 280px;
    float: right;
    margin-right: 10px; 
}
#nav-karte {
    position: absolute;
    width: 280px;
    float: left;
    left: 20px; 
    top: 480px;

    }
    #nav-formen {
        position: absolute;
        left: 40px;
        top: 90px;
        font-size: 18px;
    }

#nav-infos {
position: absolute;
top: 740px;
left: 700px;
font-size: 20px;
}
#info {
    width: 600px;
    height: 300px;
    position: absolute;
    left: 30%;
    top: 20%;
}
#info img {
height: 35px;
float: right;
}
.copyright { 
top: 295px;
position: absolute;
left: 540px;
font-size: 10px;
}
#einstellungen {
width: 600px;
    height: 300px;
    position: absolute;
    left: 30%;
    top: 20%;
}
#einstellungen img {
height: 35px;
float: right;
}
#einstellungen h1 {
margin-left: 45px
}
#einstellungen label {
font-size: 18px;
}
#einstellungenradio {
display: block;
}
#einstellungenradio h3 {
   margin-left: 29px;
}
#monarchieradio {
    position: absolute;
    width: max-content;
    height: max-content;
}
#republikradio{
    position: absolute;
    left: 37%;
    width: max-content;
    height: max-content;
}
#monarchieradio h3 , #republikradio h3 {
    margin-left: 70px;
}
#sonstigeradio h3 {
    position: relative;
    top: 15px
}
}
#sonstigeradio {
    position: absolute;
    left: 74%;
    top: 80px;
    width: max-content;
    height: max-content;
}

#einstellungsbtn {
position: absolute;
left: 40%;
top: 89%;
padding: 1px 7px;
}
#infonavrepublik {
margin-left: 8%;
}
#infonavmonarchie {
    margin-left: 18%;
    }


.nav-btn:hover {
        background: linear-gradient(to right top, #3d6eaf, #254f86);
    }
    
    
.nav-btn:active {
        transform: scale(0.70); 
      }
#infos-1 {
        width: 600px;
            height: 300px;
            position: absolute;
            left: 30%;
            top: 20%;
        }
 #infos-1 img {
            height: 35px;
            float: right;
            }

#infozurück {
    position: absolute;
    left: 5%;
    top: 85%;
}

/* IPad */
@media screen and (max-width: 1640px) { 
    body {
        background-size: 100%;
        background-image: url(/src/img/weltkarte_ipad.jpg);
    }
    #main-nav{
        position: absolute;
        top: 60%;
        left: 20px;
        height: 270px;
        width: 210px;
    }
    #main-nav table {
        position: relative;
        left: -10px;
        top: -20px;
        transform: scale(0.85);
     }
     .nav-btn {
        border-radius: 7px;
        border-width: 1px;
        font-size: 15px;
     }
     .nav-img {
        height: 35px;
        margin-right: 6px;
    }
    #nav-karte {
        position: absolute;
        width: 280px;
        float: left;
        left: 20px; 
        top: 480px;
    
        }
        #nav-formen {
            position: absolute;
            left: 40px;
            top: 55px;
            font-size: 18px;
        }

    #nav-infos {
position: absolute;
top: 580px;
left: 550px;
font-size: 20px;
    }
    #info {
        width: 600px;
        height: 300px;
        position: absolute;
        left: 22%;
        top: 20%;
    }
#info img {
    height: 35px;
    float: right;
}
.copyright { 
    top: 295px;
    position: absolute;
    left: 540px;
    font-size: 10px;
}
 #einstellungen {
    width: 600px;
        height: 300px;
        position: absolute;
        left: 22%;
        top: 20%;
 }
 #einstellungen img {
    height: 35px;
    float: right;
 }
 #einstellungen h1 {
margin-left: 45px
 }
 #einstellungen h4 {
    position: relative;
    top: -8px;
     }
 #einstellungen label {
    font-size: 17px;
 }
 #einstellungenradio {
    margin-top: 40px;
margin-left: 200px;
 }
 #einstellungenradio h3 {
    margin-left: 0;
 }
 #monarchieradio {
     position: absolute;
     left: 6%;
     width: max-content;
     height: max-content;
 }
 #republikradio{
     position: absolute;
     left: 40%;
     width: max-content;
     height: max-content;
 }
#monarchieradio, #republikradio {
top: 100px;
}

 #monarchieradio h3 , #republikradio h3 {
     margin-left: 50px;
     position: relative;
     top: 10px;
 }
 #sonstigeradio h3 {
     position: relative;
     top: 17px;
     left: 28px;
 }

 #sonstigeradio {
     position: absolute;
     left: 76%;
     top: 75px;
     width: max-content;
     height: max-content;
 }
 
 #einstellungsbtn {
    position: absolute;
    left: 40%;
    top: 83%;
    padding: 1px 7px;
 }
 #infonavrepublik {
    margin-left: 6%;
    }
    #infonavmonarchie {
        margin-left: 18%;
        }
#infos-1 {
    width: 600px;
        height: 300px;
        position: absolute;
        left: 22%;
        top: 20%;
}
    }