/* Styling */

/* Var */
.center {
    text-align: center;
}
/* ----- */


body {
    height: 100%;
}
.picture {
    background-image: url(src/img/slideshow/reichsttag.jpg);
}
nav {
transform: translate(0,-800px);
}
nav ul {
justify-content:center;
 display: flex;
 padding-top: 5px;
}
nav li {
list-style: none;
display: block;
margin-left: 10px;
background-color: rgba(128, 128, 128, 0.774);
padding: 6px;
border-radius: 19px;
}
nav a {
    text-decoration: none;
    color: black;
    display: block;
}
#title {
color: white;

}
#unterschrift {
color: white;
}

/* Pos/size IPad */
@media screen and (max-width: 1640px) { 
/* Checker */
.checker {
    color: pink;
}
/* Checker*/ 
nav {
transform: translate(0,-800);
}
nav a {
    color: rgb(255, 255, 255);
}
.picture {
    width: 101.6%;
    height: 820px;
    transform: translate(-9px,-10px);
    background-repeat: no-repeat;
    background-position-y: -500px;
    background-size: cover;
}
#title {
    font-size: 38px;
    margin-bottom: -7px;
    margin-top: 50px;

    }
#unterschrift {
   font-size: 20px;
    }    
}
/* Pos/size PC */ 
@media screen and (min-width: 1640px) { 
/* Checker */
.checker {
    color: rgb(255, 0, 0);
}
/* Checker*/ 
nav {
    transform: translate(0,-350px);
}
nav a {
    color: rgb(255, 255, 255);
    font-size: 18px;
}
.picture {
    width: 100.82%;
    height: 390px;
    transform: translate(-7.9px,-20px);
    background-repeat: no-repeat;
    background-position-y: -3000px;
    background-position-x: -4500px;
}
#title {
    font-size: 50px;
    margin-bottom: -7px;
    margin-top: 50px;
    }
#unterschrift {
   font-size: 22px;
    }    
}







